@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --nav-height: 80px;
    --primary-color: rgb(69, 193, 215);
    --text-color: rgb(220, 214, 214);
    --hover-color: rgb(217, 226, 226);
    --secondery-color: rgb(178, 78, 67);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: black;
}
html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
scrollbar-width: none;

}
